<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transfers</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<h1>Transfers</h1>

<a href="/accounts" class="back-button">Back to Accounts</a>

<table>
    <thead>
    <tr>
        <th>Transfer ID</th>
        <th>Sender Account</th>
        <th>Recipient Account</th>
        <th>Amount</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transfer : ${transfers}">
        <td th:text="${transfer.id}"></td>
        <td th:text="${transfer.senderAccountNumber}"></td>
        <td th:text="${transfer.recipientAccountNumber}"></td>
        <td th:text="${transfer.amount}"></td>
        <td th:text="${#temporals.format(transfer.timestamp, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>